<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://w3.org/1999/xhtml">
    <head>
        <title>Ejemplo de app web mvc con spring boot</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <header th:fragment="cabecero">
            <h1>APP WEB MVC CON SPRING BOOT</h1>
        </header>
        <footer th:fragment="pie">
            <span>BY: Jose Carlos Ibarra Herrera</span>
            <p><a href="https://www.youtube.com/channel/UC-rv-fp8FO3ntouEhCgT4RA">
                    Canal de youtube 
                </a>
            </p>
        </footer>
    </body>
</html>
